/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 800px; }

body {
  background-color: #000;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  background-color: #fff;
  list-style-type: none;
  margin: 1em 2em;
  border: 1px solid #000;
  padding: 0.5em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

.posts a, a:visited {
  color: #a00;
}

.posts a:hover {
  color: #aa0;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 986px;
  margin: 3em auto 2em;
  line-height: 1.5em;
  display: block;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  padding: 0.5em 0em;
  width: 1100px;
  font-size: 2em;
  text-align: center;
  background-color: #211;
  border: 2px solid #a00;
  margin: 1em 0 0 0;
}

.title a {
  color: #fff;
  font-size: 1.0em;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: right;
  margin-right: 3em;
  text-align: right;
}

.footer .contact a {
  color: #fff;
  text-decoration: none;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

nav {
  border: 4px solid #000;
  border-color: #a00 #400 #200 #900;
  display: block;
  padding: 0.5em 0;
  font-size: 1.3em;
  background: #600;
  width: 100%;
}

nav a, nav a:visited {
  color: #ccc;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

nav ul {
  list-style: none;
  width: 100%;
  display: block;
  padding: 0 0.5em;
}

nav li {
  display: inline;
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0.5em;
  width: 100%;
}

div .wall {
  background-color: #eee;
  margin: 0.5em 0;
  padding: 0.5em 0;
  width: 100%;
  border: 4px solid #000;
  border-color: #aaa #444 #222 #888;
}

div .wall h1 {
  text-align: center;
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
  padding: 0.2em;
  margin: 0.5em 1.0em;
  border: 4px solid #000;
  border-color: #222 #888 #aaa #444;
  font-size: 1.5em;
}

div .wall p {
  padding: 0 1.0em;
}

div .wall ul {
  margin: 1em 2em;
}

div .postwall {
  background-color: #fff;
  border: 1px solid #000;
  padding: 0.5em;
  margin: 1em 2em;
}

div .postwall h2 {
  color: #060;
  margin: 0.5em;
  font-size: 1.1em;
}

div .postdate {
  text-align: right;
  font-size: 1.3em;
  font-family: Monaco, "Courier New", monospace;
  margin: 0 2em;
}

div .pessoa {
  background-color: #fff;
  border: 1px solid #000;
  padding: 0.5em;
  margin: 1em 2em;
}

div .pessoa h2, div .pessoa-desc {
  float: left;
  width: 700px;
}

div .pessoa a {
  color: #060;
  font-weight: bold;
  text-decoration: none;
}

div .pessoa a:hover {
  color: #0a0;
}

div .cboth {
  clear: both;
}

div .pessoa-img {
  float: right;
  max-width: 140px;
  max-height: 140px;
}

div .pessoa-img img {
  height: 140px;
}

div .next, div .prev {
  color: #999;
  margin: 0 2em;
}

.next a, .prev a {
  color: #999;
}
.next a:hover, .prev a:hover {
  color: #000;
}

div .next {
  float: left;
  text-align: left;
  clear: both;
}

div .prev {
  float: right;
  text-align: right;
}

